.Timer-wrapper {
    display: flex;
    justify-content: center;

}


.Counter{
    margin: 10px 0;
}

.Counter:last-child {
    margin-bottom: 70px;
}

.Timers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Timer {
    font-family: 'Varela Round', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.9rem;
}

.Text {
    color: #000;

}

.Value {
    font-size: 5rem;
}

@media only screen and (max-width: 800px) {
    .Value {
        font-size: 3rem;
    }

    .Timer {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 599px) {
    .Value {
        font-size: 3rem;
    }

    .Timer {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 400px) {
    .Value {
        font-size: 3rem;
    }

    .Timer {
        font-size: 1.3rem;
    }
}
