.Timer-wrapper {
    margin-left: 1000px;
    display: flex;
    justify-content: center;
}

.Timer {
    font-family: 'Varela Round', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Text {
    color: #000;
}

.Value {
    font-size: 40px;
}

.Info {
    max-width: 360px;
    margin: 40px auto 0;
    text-align: center;
    font-size: 16px;
}
