.TrainingsWrapper {
    margin-top: 70px;
}

.Trainings {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.CounterDownSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.Title {
    font-size: 300%;
    font-family: 'Anton', serif;
    margin-left: 20px;
    letter-spacing: 2px;
    margin-block-end: 0 ;
}

.Center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}