.TrainingsWrapper {
  margin-top: 5px;
}

.Trainings {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap;
    text-align: center;

}
.CounterDownSection {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}

.Title {
    font-size: 4rem;
    font-family: 'Anton', serif;
    margin-left: 20px;
    letter-spacing: 2px;
    margin-block-end: 0 ;
}

.Center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.PageHeight {
    height: 200vh;
}

@media only screen and (max-width: 599px) {
    .Title {
        font-size: 3rem;
        padding-top: 20px;
    }
}
