.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: #40A4C8;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 1rem;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #40A4C8;
}

@media (min-width: 600px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    .NavigationItem a {
        color: black;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }

    .NavigationItem a:hover{
        background-color: lightblue;
        color: black;
    }

    .NavigationItem a:hover{
        background-color: lightblue;
        color: black;
    }

    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: lightblue;
        border-bottom: 4px solid #075678;
        color: black;
    }
}
