
.Header {
    background-image: linear-gradient(to right bottom, rgba(0, 62, 90, 0.8), rgba(24, 90, 118, 0.8)), url(../../resources/img/hero.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    position: relative;
}

.TextBox {
    display: block;
}

.HeadingPrimary {
    font-family: 'Exo', serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    backface-visibility: hidden;

}

.HeadingPrimaryMain {
    display: block;
    font-size: 3.4rem;
    font-weight: 300;
    letter-spacing: 18px;
    text-transform: uppercase;

    animation: moveRight 700ms ease-out;
}

.HeadingPrimaryDay {
    font-weight: 900;
    font-size: 4rem;
    font-family: "Lato", serif;
    white-space: nowrap;
}

.HeadingPrimarySub {
    margin-top: 20px;
    display: block;
    font-size: 2rem;
    font-family: "Anton";
    font-weight: 300;
    animation: moveLeft 700ms ease-out;
    letter-spacing: 4px;
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translateX(-70px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(70px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 599px) {
    .HeadingPrimaryMain {
        font-size: 2.4rem;
        letter-spacing: 13px;
    }

    .HeadingPrimaryDay {
        font-size: 3.2rem;
    }

    .HeadingPrimarySub {
        font-size: 1.6rem;
        letter-spacing: 4px;
    }
}
