:root {
    --bg: #fdfdfd;
    --highlight1: #a3dff6;
    --highlight2: #2ea8d0;
    --color: #1a1e24;
    --font-number: 'Lato', sans-serif;
    --font-head: 'Varela Round', serif;
    --font: 'Lato', serif;
}


.Steps {
    display: flex;
    justify-content: center;
}


.List {
    list-style: none;
    width: 600px;
    max-width: 90%;
}

.ScrollItem {
    counter-increment: list;
}

.Item {
    text-align: left;
    display: block;
    margin-right: 10px;
    clear: both;
    padding-bottom: 4rem;
    font-size: 1.1rem;
    line-height: 1.375;
    position: relative;
    z-index: 3;
}

.Item span {
    display: table-cell;
}

.Item:before {
    font: bold 2.25rem/1 var(--font-number);
    content: counter(list);
    width: 5rem;
    height: 5rem;
    float: left;
    margin: 0 1.5rem 0.75rem 0;
    color: var(--bg);
    background: var(--highlight1) linear-gradient(to bottom right, var(--highlight1) 25%, var(--highlight2));
    text-shadow: 0 0 2px var(--highlight1);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    shape-outside: ellipse();
    z-index: 1;
}

.Item:after {
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: var(--highlight1);
    z-index: -1;
    border-top-left-radius: 3px;
}


.Headline {
    margin: 0 0 1rem 0;
    font: normal 2rem var(--font-head);
}
