

.Training {
    width: 60%;
    align-items: center;
    display: flex;
    box-shadow: 2px 2px 42px 0px rgba(153,218,255,0.5);
    border: 1px solid lightblue;
    margin: 10px;
    padding: 20px;
    background-color: lightcyan;
    border-radius: 20px;
}


.Day {
    font-size: 170%;
    color: gray;
    font-family: 'Anton', sans-serif;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    padding: 3px;
    transition: all 500ms ease-in-out ;
}

.Day:hover {
    transform: scale(1.3);
}

.Action {
   text-align: center;
}

.Title {
    flex-grow: 2;
    text-align: center;
    font-size: 120%;
}

.Btn {
    margin: 10px;
}

.Completed {
    text-decoration: line-through;
    background-color: rgba(174, 221, 243, 0.58);
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 60%
    }
}

.Test {
    color: #8F5C2C;
cursor: none;
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 50%
    }
}

